{% assign i18n = site.data[page.lang] %}
<footer id="footer">
  <div class="max-container footer-content">
    <div class="footer-info">
      <a href="{{ site.url }}" class="logo">
        <img src="{{ "/assets/img/auto-adrenalina.svg" | absolute_url }}" alt="Auto Pulse" />
      </a>
      <p class="site-description">{{ i18n.footer_desc }}</p>
    </div>
    <div class="footer-links">
      <h2>{{ i18n.shortcuts }}</h2>
      <ul>
        <li>
          <a href="{{ i18n.cars_url | absolute_url }}">
            {{ i18n.cars }}
          </a>
        </li>
        <li>
          <a href="{{ i18n.motorcycles_url | absolute_url }}">
            {{ i18n.motorcycles }}
          </a>
        </li>
        <li>
          <a href="{{ i18n.electrics_url | absolute_url }}">
            {{ i18n.electrics }}
          </a>
        </li>
        <li>
          <a href="{{ i18n.customs_url | absolute_url }}">
            {{ i18n.customs }}
          </a>
        </li>
      </ul>
      <hr />
      <ul>
        <li>
          <a href="{{ i18n.about_url | absolute_url }}">
            {{ i18n.about_us }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ i18n.contact }}
          </a>
        </li>
        <li>
          <a href="{{ i18n.terms_url | absolute_url }}">
            {{ i18n.use_terms }}
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-tags">
      <h2>{{ i18n.most_commented }}</h2>
      {% include tag-list.html %}
    </div>
  </div>
  <div class="max-container footer-copy">
    <p>{{ i18n.copy }}</p>
  </div>
  <script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W5R6G9EE3Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W5R6G9EE3Y');
  </script>
</footer>