{% capture title %}
  {% if page.title %}
    {{ page.title }} - {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
{% endcapture %}

{% assign opposite_post = nil %}
{% assign opposite_page = nil %}

{% if page.ref %}

  {% if page.lang == 'pt' %}

    {% for post in site.posts_en %}
      {% if post.ref == page.ref %}
        {% assign opposite_post = post %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if opposite_post == nil %}
      {% for p in site.pages %}
        {% if p.ref == page.ref and p.lang == 'en' %}
          {% assign opposite_page = p %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% else %}

    {% for post in site.posts %}
      {% if post.ref == page.ref %}
        {% assign opposite_post = post %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if opposite_post == nil %}
      {% for p in site.pages %}
        {% if p.ref == page.ref and p.lang == 'pt' %}
          {% assign opposite_page = p %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% endif %}

{% endif %}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
rel="stylesheet"
/>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- head seo -->
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="keywords" content="{{ page.tags | default: site.keywords | join: ',' }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}" />
 
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title | strip }}">
<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:image" content="{{ page.image | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title | strip }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.image | absolute_url }}">

{% if paginator.previous_page %}
<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{% endif %}

{% if paginator.next_page %}
<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{% endif %}

{% if opposite_post %}
  <link rel="alternate"
        hreflang="{{ opposite_post.lang }}"
        href="{{ opposite_post.url | replace:'index.html','' | absolute_url }}">
{% endif %}

{% if opposite_page %}
  <link rel="alternate"
        hreflang="{{ opposite_page.lang }}"
        href="{{ opposite_page.url | replace:'index.html','' | absolute_url }}">
{% endif %}

<link rel="alternate"
      hreflang="{{ page.lang }}"
      href="{{ page.url | replace:'index.html','' | absolute_url }}">

<title>{{ title | strip }}</title>

