{% if page.lang == 'pt' %}
  {% assign posts = site.posts | sort: 'date' | reverse %}
{% else %}
  {% assign posts = site.posts_en | sort: 'date' | reverse %}
{% endif %}
{% assign i18n = site.data[page.lang] %}
{% assign trending_post = posts
  | where: "trending", true
  | first %}

{% assign current_section = page.url | split: '/' %}
{% if page.lang == 'pt' %}
  {% assign current_category = current_section[1] %}
{% else %}
  {% assign current_category = current_section[2] %}
{% endif %}

<header id="header">
  <div class="top-header">
    <div class="top-header-flex max-container">
      <div class="top-header-trending">
        <span class="label">trending</span>
        <p>
          <a href="{{ trending_post.url }}">
            {{ trending_post.title }}
          </a>
        </p>
      </div>
      <div class="top-header-tools">
        {% include switch-lang.html %}

      </div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-navbar max-container">
      <a href="{{ site.url }}">
        <img src="{{ "/assets/img/auto-adrenalina.svg" | absolute_url }}" alt="Auto Adrenalina" />
      </a>
      <nav class="header-menu">
        <button type="button" class="mobile-menu-button">
          <img src="{{ "/assets/img/menu.svg" | absolute_url }}" alt="Menu" />
        </button>
        <div class="header-nav">
          <a class="{% if page.url == '/' or page.url == '/en/' %}active{% endif %}" href="{{ i18n.home_url }}">Home</a>
          <a
            class="{% if current_category == 'carros' or current_category == 'cars' %}active{% endif %}"
            href="{{ i18n.cars_url| absolute_url }}"
          >
            {{ i18n.cars }}
          </a>
          <a
            class="{% if current_category == 'motos' or current_category == 'motorcycles' %}active{% endif %}"
            href="{{ i18n.motorcycles_url | absolute_url }}"
          >
            {{ i18n.motorcycles }}
          </a>
          <a
            class="{% if current_category == 'eletricos' or current_category == 'electrics' %}active{% endif %}"
            href="{{ i18n.electrics_url| absolute_url }}"
          >
            {{ i18n.electrics }}
          </a>
          <a
            class="{% if current_category == 'customizacoes' or current_category == 'customs' %}active{% endif %}"
            href="{{ i18n.customs_url | absolute_url }}"
          >
            {{ i18n.customs }}
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>