{% assign trending_post = site.posts
  | where: "trending", true
  | first %}
{% assign current_section = page.url | split: '/' %}
<header id="header">
  <div class="top-header">
    <div class="top-header-flex max-container">
      <div class="top-header-trending">
        <span class="label">trending</span>
        <p>
          <a href="{{ trending_post.url }}">
            {{ trending_post.title }}
          </a>
        </p>
      </div>
      <div class="top-header-tools"></div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-navbar max-container">
      <a href="{{ site.url }}">
        <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Auto Pulse" />
      </a>
      <nav class="header-menu">
        <a class="{% if page.url == '/' %}active{% endif %}" href="{{ site.url }}">Home</a>
        <a class="{% if current_section[1] == 'carros' %}active{% endif %}" href="{{ "/carros" | absolute_url }}">Carros</a>
        <a class="{% if current_section[1] == 'motos' %}active{% endif %}" href="{{ "/motos" | absolute_url }}">Motos</a>
        <a class="{% if current_section[1] == 'eletricos' %}active{% endif %}" href="{{ "/eletricos" | absolute_url }}">Elétricos</a>
        <a class="{% if current_section[1] == 'customizacoes' %}active{% endif %}" href="{{ "/customizacoes" | absolute_url }}">Customizações</a>
      </nav>
    </div>
  </div>
</header>