{% assign i18n = site.data[page.lang] %}

{% if page.lang == 'pt' %}
  {% assign all_posts = site.posts | sort: 'date' | reverse %}
{% else %}
  {% assign all_posts = site.posts_en | sort: 'date' | reverse %}
{% endif %}

{% assign posts = all_posts | where_exp: "post", "post.categories contains include.category" %}

{% assign count = 0 %}

{% if posts.size > 1 %}

<section class="list-section">
  <div class="max-container">
    <h2 class="heading-bars">
      {{ i18n.related_news }}
    </h2>
    <div class="grid">
      {% for post in posts %}
        {% if post.url != include.exclude and count < 4 %}

          {% assign count = count | plus: 1 %}
          {% assign post_category = post.categories[0] %}

          <article>
            <figure class="photo-figure">
              <a href="{{ post.url }}">
                <img src="{{ post.thumb }}"
                     alt="{{ post.title }}" />
                <div class="category">
                  {% include get-category.html category=post_category %}
                </div>
              </a>
            </figure>
            <div class="inner">
              <h3>
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>
              {% include date.html date=post.date %}
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}