{% if page.lang == 'pt' %}
  {% assign posts = site.posts | sort: 'date' | reverse %}
  {% assign cars_count = posts | where_exp: "post", "post.categories contains 'carros'" | size %}
  {% assign motorcycles_count = posts | where_exp: "post", "post.categories contains 'motos'" | size %}
  {% assign electrics_count = posts | where_exp: "post", "post.categories contains 'eletricos'" | size %}
  {% assign customs_count = posts | where_exp: "post", "post.categories contains 'customizacoes'" | size %}
{% else %}
  {% assign posts = site.posts_en | sort: 'date' | reverse %}
  {% assign cars_count = posts | where_exp: "post", "post.categories contains 'cars'" | size %}
  {% assign motorcycles_count = posts | where_exp: "post", "post.categories contains 'motorcycles'" | size %}
  {% assign electrics_count = posts | where_exp: "post", "post.categories contains 'electrics'" | size %}
  {% assign customs_count = posts | where_exp: "post", "post.categories contains 'customs'" | size %}
{% endif %}
{% assign i18n = site.data[page.lang] %}

<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <main>
      {% include header.html %}
      {% assign featured = posts.first %}
      <div id="big-feature">
        <figure class="banner-figure">
          <img
            src="{{ featured.banner }}"
            alt="{{ featured.title }}"
            class="feature-banner"
          />
        </figure>
        <div class="max-container">
          <div class="big-feature-legend">
            <div class="feature-legend-info">
              <span class="tag">
                {% assign featured_category = featured.categories[0] %}
                {% include get-category.html category=featured_category %}
              </span>
            </div>
            <h2>{{ featured.title }}</h2>
            <p class="description">{{ featured.description }}</p>
            <a href="{{ featured.url }}" class="btn feature-primary">{{ i18n.read_more }}</a>
          </div>
        </div>
      </div>
      <section class="list-section mb-48">
        <div class="max-container">
          <h2 class="heading-bars">
            {{ i18n.last_news }}
          </h2>
          {% assign posts = posts %}
          <div class="grid">
            {% for post in posts limit:4 offset:1 %}
            <article>
              <figure class="photo-figure">
                <a href="{{ post.url }}">
                  <img src="{{ post.thumb }}" alt="{{ post.title }}" />
                  <div class="category">
                    {% assign post_category = post.categories[0] %}
                    {% include get-category.html category=post_category %}
                  </div>
                </a>
              </figure>
              <div class="inner">
                <h3>
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h3>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="list-section mb-64">
        <div class="max-container">
          <h2 class="heading-bars">
            {{ i18n.explore_categories }}
          </h2>
          <div class="grid">

            <a class="category-card" href="{{ i18n.cars_url | relative_url }}">
              <img class="category-icon" src="/assets/img/cat-car.svg" alt="{{ i18n.cars }}" />
              <h3>{{ i18n.cars }}</h3>
              <p>{{ cars_count }} publicações</p>
            </a>

            <a class="category-card" href="{{ i18n.motorcycles_url | relative_url }}">
              <img class="category-icon" src="/assets/img/cat-moto.svg" alt="{{ i18n.motorcycles }}" />
              <h3>{{ i18n.motorcycles }}</h3>
              <p>{{ motorcycles_count }} publicações</p>
            </a>

            <a class="category-card" href="{{ i18n.electrics_url | relative_url }}">
              <img class="category-icon" src="/assets/img/cat-eletric.svg" alt="{{ i18n.electrics }}" />
              <h3>{{ i18n.electrics }}</h3>
              <p>{{ electrics_count }} publicações</p>
            </a>

            <a class="category-card" href="{{ i18n.customs_url | relative_url }}">
              <img class="category-icon" src="/assets/img/cat-custom.svg" alt="{{ i18n.customs }}" />
              <h3>{{ i18n.customs }}</h3>
              <p>{{ customs_count }} publicações</p>
            </a>

          </div>
        </div>
      </section>

      <section class="list-section mb-48">
        <div class="max-container">
          <div class="list">
            {% for post in posts limit:10 offset:5 %}
            {% assign post_category = post.categories[0] %}
            <article>
              <figure class="photo-figure">
                <a href="{{ post.url }}">
                  <img src="{{ post.thumb }}" alt="{{ post.title }}" />
                </a>
              </figure>
              <div>
                <div class="info">
                  <p>
                    <a href="{{ post_category | absolute_url }}">
                      {% include get-category.html category=post_category %}
                    </a>
                  </p>
                  {% include date.html date=post.date %}
                </div>
                <h3>
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p class="description">{{ post.description }}</p>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </section>

      {% include footer.html %}
    </main>
  </body>
</html>
