<!doctype html>
<html lang="pt-BR">
  <head>
    {% include head.html %}
  </head>
  <body>
    <main>
      {% include header.html %}
      <div id="big-feature">
        <figure class="banner-figure">
          <img
            src="{{ page.banner }}"
            alt="{{ page.title }}"
            class="feature-banner"
          />
        </figure>
        <div class="max-container">
          <div class="big-feature-legend">
            <div class="feature-legend-info">
              <span class="tag">
                {% include get-category.html category=page.categories.first %}
              </span>
              <p>{% include date.html date=page.date %}</p>
            </div>
            <h1>{{ page.title }}</h1>
            <p class="description">{{ page.description }}</p>
            {% include article-reader.html %}
          </div>
        </div>
      </div>

      <div class="max-container">
        <article id="single">
          <div class="article-text-box">
            {{ content }}
          </div>
          <footer class="single-footer">
            <ul class="single-tags-list">
              {% for item in page.tags %}<li>{{ item }}</li>{% endfor %}
            </ul>
          </footer>
        </article>
      </div>

      <div class="mb-48">
        {% include related-posts.html category=page.categories.first exclude=page.url limit=5 %}
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
